logo/*
!logo/logo-small.png
!logo/logo-white.png
!logo/logo.png
!logo/logo-purple.png
!logo/logo-small-purple.svg
!logo/logo-small-white.svg
node_modules/
freshness-ledger.json

# Editor and OS cruft
.idea/
.DS_Store
