{
  "openapi": "3.0.1",
  "info": {
    "title": "Phonely API",
    "description": "API for Phonely services including agent management and call summaries",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.phonely.ai/api"
    }
  ],
  "paths": {
    "/get-agent": {
      "post": {
        "summary": "Get agent information",
        "description": "Retrieve agent information based on the provided user ID and agent ID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/duplicate-agent": {
      "post": {
        "summary": "Duplicate an agent",
        "description": "Create a duplicate of an existing agent for the specified user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DuplicateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateAgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/get-agents": {
      "post": {
        "summary": "Get agents information",
        "description": "Retrieve information for all agents associated with the user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAgentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentInfo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/get-orgs": {
      "get": {
        "summary": "Get organizations information",
        "description": "Retrieve information for all organizations associated with the user",
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrgInfo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/get-call": {
      "post": {
        "summary": "Get call information",
        "description": "Retrieve information for a specific call",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Call or agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/calls/{agentId}": {
      "get": {
        "summary": "List calls by agent ID",
        "description": "Retrieves a list of calls for a specific agent with comprehensive filtering and pagination options",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the agent whose calls you want to retrieve"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of results to skip for pagination"
          },
          {
            "name": "customer_phone_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by customer phone number"
          },
          {
            "name": "campaign_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by campaign ID"
          },
          {
            "name": "ab_test_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by A/B test ID"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "QUEUED",
                  "IN_PROGRESS",
                  "ENDED",
                  "COMPLETED",
                  "FAILED",
                  "DNC",
                  "REDIAL_SCHEDULED",
                  "QUEUEING",
                  "IN_WARM_TRANSFER"
                ]
              }
            },
            "description": "Filter by call status (can specify multiple values)"
          },
          {
            "name": "sentiment",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["Positive", "Negative", "Neutral", "Unsure"]
              }
            },
            "description": "Filter by sentiment (can specify multiple values)"
          },
          {
            "name": "call_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "inboundPhoneCall",
                  "outboundPhoneCall",
                  "dailyCall",
                  "webCall",
                  "messagingSession",
                  "callAndMessaging"
                ]
              }
            },
            "description": "Filter by call type (can specify multiple values)"
          },
          {
            "name": "outcome",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by call outcome (can specify multiple values)"
          },
          {
            "name": "ended_reason",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by call ended reason (can specify multiple values)"
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by call mode (can specify multiple values)"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter calls after this date (ISO 8601 datetime format)"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter calls before this date (ISO 8601 datetime format)"
          },
          {
            "name": "min_duration",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Minimum call duration in seconds"
          },
          {
            "name": "max_duration",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Maximum call duration in seconds"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCallsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Agent ID is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have access to this agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/import-number": {
      "post": {
        "summary": "Import number",
        "description": "Import a Twilio phone number to an agent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportNumberResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/list-voices": {
      "get": {
        "summary": "List available voices",
        "description": "Get a list of all available voices for your agent",
        "responses": {
          "200": {
            "description": "List of available voices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Voice"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/update-agent": {
      "post": {
        "summary": "Update agent's setup",
        "description": "Update the setup for a specific agent",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the update was successful"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agent-block-list": {
      "get": {
        "summary": "List blocked phone numbers",
        "description": "Retrieves the list of blocked phone numbers for a specific agent",
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          },
          {
            "name": "agentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the agent whose block list you want to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search params",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "summary": "Add phone numbers to block list",
        "description": "Adds phone numbers to an agent's block list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockListUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or numbers parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Remove phone numbers from block list",
        "description": "Removes phone numbers from an agent's block list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockListDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or numbers parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/report-call-error": {
      "post": {
        "summary": "Report an issue with a call",
        "description": "Submit an error report for a specific call with feedback and suggestions",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportCallErrorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Error report submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the report was submitted successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Call or agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/calls/{agentId}/{callIdOrPhone}": {
      "patch": {
        "summary": "Set post call outcome",
        "description": "Set post call outcome fields for a call identified by either call ID or phone number.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the agent"
          },
          {
            "name": "callIdOrPhone",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the call or the E.164 phone number"
          },
          {
            "name": "preference",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "first",
                "last"
              ],
              "default": "last"
            },
            "description": "first: first time that someone called in, last: latest call from someone"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCallOutcomeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call outcome updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCallOutcomeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agent-documents": {
      "get": {
        "summary": "List agent documents",
        "description": "Retrieve all documents associated with a specific agent",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          },
          {
            "name": "agentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["documents"],
                  "properties": {
                    "documents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Document"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Upload documents",
        "description": "Upload documents to an agent's knowledge base. Maximum 10 files, each under 10MB. Supports PDF, DOCX, and TXT files.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["uid", "agentId", "files"],
                "properties": {
                  "uid": {
                    "type": "string",
                    "description": "User ID"
                  },
                  "agentId": {
                    "type": "string",
                    "description": "Agent ID"
                  },
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "maxItems": 10,
                    "description": "Documents to upload"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Files uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["message", "documentIds"],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "documentIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or file validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete document",
        "description": "Delete a document from an agent's knowledge base",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          },
          {
            "name": "agentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Document ID to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["message"],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Document not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agent-websites": {
      "get": {
        "summary": "List agent websites",
        "description": "Retrieve all websites associated with a specific agent's knowledge base",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          },
          {
            "name": "agentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of websites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["websites"],
                  "properties": {
                    "websites": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Website"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add websites to agent knowledge base",
        "description": "Crawl and add websites to an agent's knowledge base. Supports customizable crawling parameters including depth limit, URL filtering, and page limits.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["uid", "agentId", "url"],
                "properties": {
                  "uid": {
                    "type": "string",
                    "description": "User ID"
                  },
                  "agentId": {
                    "type": "string",
                    "description": "Agent ID"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Base URL to crawl"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 5,
                    "description": "Maximum number of pages to crawl (max 10)"
                  },
                  "maxDepth": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 1,
                    "description": "Maximum crawling depth (max 10)"
                  },
                  "excludePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of URL paths to exclude from crawling"
                  },
                  "includePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of URL paths to include in crawling (if specified, only these paths will be crawled)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Websites added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["message"],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error crawling or adding websites",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete website from agent knowledge base",
        "description": "Remove a specific website from an agent's knowledge base",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          },
          {
            "name": "agentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          },
          {
            "name": "websiteId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Website ID to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Website deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["message"],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Website not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agent-generations": {
      "post": {
        "summary": "Generate an agent from a prompt",
        "description": "Asynchronously create an inbound agent and its first flow from a natural-language prompt. Repeating the same request with the same idempotency key returns the existing generation.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "A unique key for this logical generation request. Maximum 128 characters.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The idempotent request has reached a terminal status",
            "headers": {
              "Location": {
                "description": "Relative URL for checking generation status",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentGenerationResponse"
                }
              }
            }
          },
          "202": {
            "description": "The generation is queued or in progress",
            "headers": {
              "Location": {
                "description": "Relative URL for checking generation status",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or idempotency key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The user cannot create agents in the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The idempotency key was used for different request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Agent generation could not be started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agent-generations/{generationId}": {
      "get": {
        "summary": "Get agent generation status",
        "description": "Return the current status of a prompt-based agent generation owned by the authenticated user.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "generationId",
            "in": "path",
            "required": true,
            "description": "Generation identifier returned by the create request",
            "schema": {
              "type": "string",
              "pattern": "^gen_[a-f0-9]{40}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current generation status",
            "headers": {
              "Cache-Control": {
                "description": "Status responses are not cached",
                "schema": {
                  "type": "string",
                  "example": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentGenerationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Generation not found or not owned by the authenticated user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Generation status could not be loaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UpdateCallOutcomeRequest": {
        "type": "object",
        "additionalProperties": false,
        "minProperties": 1,
        "properties": {
          "custom_call_outcome": {
            "type": "string",
            "description": "The outcome label (e.g., Sold, No Sale)"
          },
          "custom_call_outcome_value": {
            "type": "number",
            "description": "The monetary value associated with the outcome"
          },
          "custom_call_metadata": {
            "type": "object",
            "description": "Additional custom metadata for the call"
          }
        }
      },
      "UpdateCallOutcomeResponse": {
        "type": "object",
        "required": ["success", "call_id", "agent_id", "updated_fields"],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "call_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "preference": {
            "type": "string"
          },
          "updated_fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AgentRequest": {
        "type": "object",
        "required": ["uid", "agentId"],
        "properties": {
          "uid": {
            "type": "string",
            "description": "User ID"
          },
          "agentId": {
            "type": "string",
            "description": "Agent ID"
          }
        }
      },
      "AgentResponse": {
        "type": "object",
        "required": ["uid", "agentId", "name"],
        "properties": {
          "uid": {
            "type": "string",
            "description": "User ID"
          },
          "agentId": {
            "type": "string",
            "description": "Agent ID"
          },
          "name": {
            "type": "string",
            "description": "Agent name"
          },
          "country": {
            "type": "string",
            "description": "Country code",
            "nullable": true
          },
          "businessPhoneNumber": {
            "type": "string",
            "description": "Business phone number",
            "nullable": true
          }
        }
      },
      "DuplicateAgentRequest": {
        "type": "object",
        "required": ["uid", "agentId"],
        "properties": {
          "uid": {
            "type": "string",
            "description": "User ID"
          },
          "agentId": {
            "type": "string",
            "description": "Agent ID to be duplicated"
          }
        }
      },
      "DuplicateAgentResponse": {
        "type": "object",
        "required": ["uid", "agentId", "name"],
        "properties": {
          "uid": {
            "type": "string",
            "description": "User ID"
          },
          "agentId": {
            "type": "string",
            "description": "New duplicated Agent ID"
          },
          "name": {
            "type": "string",
            "description": "New duplicated Agent name"
          }
        }
      },
      "GetAgentsRequest": {
        "type": "object",
        "required": ["uid"],
        "properties": {
          "uid": {
            "type": "string",
            "description": "User ID"
          }
        }
      },
      "GetCallRequest": {
        "type": "object",
        "required": ["uid", "agentId", "callId"],
        "properties": {
          "uid": {
            "type": "string",
            "description": "User ID (can be retrieved from the user settings page)"
          },
          "agentId": {
            "type": "string",
            "description": "Agent ID (can be retrieved from the agent settings page)"
          },
          "callId": {
            "type": "string",
            "description": "Call ID (can be retrieved from the call history page)"
          }
        }
      },
      "AgentInfo": {
        "type": "object",
        "required": ["uid", "agentId", "name", "country", "businessPhoneNumber"],
        "properties": {
          "uid": {
            "type": "string",
            "description": "User ID"
          },
          "agentId": {
            "type": "string",
            "description": "Agent ID"
          },
          "name": {
            "type": "string",
            "description": "Agent name"
          },
          "country": {
            "type": "string",
            "description": "Country code",
            "nullable": true
          },
          "businessPhoneNumber": {
            "type": "string",
            "description": "Business phone number",
            "nullable": true
          }
        }
      },
      "OrgInfo": {
        "type": "object",
        "required": ["orgId", "name"],
        "properties": {
          "orgId": {
            "type": "string",
            "description": "Organization ID"
          },
          "name": {
            "type": "string",
            "description": "Organization name"
          }
        }
      },
      "CallSummaryResponse": {
        "type": "object",
        "required": ["agentName", "transcriptText", "dashboardUrl"],
        "properties": {
          "agentName": {
            "type": "string",
            "description": "Name of the agent handling the call"
          },
          "callId": {
            "type": "string",
            "description": "Unique identifier for the call"
          },
          "agentId": {
            "type": "string",
            "description": "ID of the agent that handled the call"
          },
          "businessPhoneNumber": {
            "type": "string",
            "nullable": true,
            "description": "Business phone number used for the call"
          },
          "customerPhoneNumber": {
            "type": "string",
            "nullable": true,
            "description": "Customer phone number"
          },
          "transcript": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranscriptEntry"
            },
            "nullable": true,
            "description": "Structured call messages"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranscriptEntry"
            },
            "nullable": true,
            "description": "Structured call messages; currently the same data as transcript"
          },
          "summary": {
            "type": "string",
            "nullable": true,
            "description": "Brief summary of the call"
          },
          "longSummary": {
            "type": "string",
            "nullable": true,
            "description": "Detailed summary of the call"
          },
          "ai_success": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the AI completed the call successfully"
          },
          "sentiment": {
            "type": "string",
            "nullable": true,
            "description": "Overall sentiment of the call"
          },
          "topic": {
            "nullable": true,
            "oneOf": [
              { "type": "string" },
              {
                "type": "array",
                "items": { "type": "string" }
              }
            ],
            "description": "Topic or topic labels assigned to the call"
          },
          "purpose": {
            "type": "string",
            "nullable": true,
            "description": "Main purpose of the call"
          },
          "keyPoints": {
            "type": "array",
            "items": { "type": "string" },
            "nullable": true,
            "description": "Key points identified during the call"
          },
          "mentionedDate": {
            "type": "string",
            "nullable": true,
            "description": "Date mentioned during the call"
          },
          "mentionedTime": {
            "type": "string",
            "nullable": true,
            "description": "Time mentioned during the call"
          },
          "mentionedEmail": {
            "type": "string",
            "nullable": true,
            "description": "Email address mentioned during the call"
          },
          "callerName": {
            "type": "string",
            "nullable": true,
            "description": "Caller name extracted from the call"
          },
          "unansweredQuestions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "List of questions that were not answered during the call"
          },
          "actionItems": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "List of action items identified during the call"
          },
          "followUpReason": {
            "type": "string",
            "nullable": true,
            "description": "Reason for any required follow-up"
          },
          "followUp": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether follow-up is required"
          },
          "callDirection": {
            "type": "string",
            "nullable": true,
            "description": "Call type or direction"
          },
          "recordingUrl": {
            "type": "string",
            "nullable": true,
            "description": "URL to access the call recording"
          },
          "transcriptText": {
            "type": "string",
            "description": "Text transcript containing user and assistant messages"
          },
          "callStarted": {
            "$ref": "#/components/schemas/FirestoreTimestamp"
          },
          "startedAt": {
            "$ref": "#/components/schemas/FirestoreTimestamp"
          },
          "callEnded": {
            "$ref": "#/components/schemas/FirestoreTimestamp"
          },
          "callStartedDateString": {
            "type": "string",
            "description": "Call start formatted in the agent's timezone"
          },
          "callEndedDateString": {
            "type": "string",
            "description": "Call end formatted in the agent's timezone"
          },
          "duration": {
            "type": "number",
            "description": "Duration of the call in seconds"
          },
          "endedReason": {
            "type": "string",
            "nullable": true,
            "description": "Reason for the call ending"
          },
          "dashboardUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to open the call in Phonely"
          }
        }
      },
      "ListCallsResponse": {
        "type": "object",
        "required": ["items", "total", "limit", "offset"],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallItem"
            },
            "description": "Array of call objects matching the filter criteria"
          },
          "total": {
            "type": "integer",
            "description": "Total number of calls matching the filters (not limited by pagination)"
          },
          "limit": {
            "type": "integer",
            "description": "The limit value used in the request"
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the request"
          }
        }
      },
      "CallItem": {
        "type": "object",
        "required": ["id", "agentId", "c_topic"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the call"
          },
          "agentId": {
            "type": "string",
            "description": "ID of the agent that handled the call"
          },
          "business_phone_number": {
            "type": "string",
            "nullable": true,
            "description": "The business phone number used for the call"
          },
          "customer_phone_number": {
            "type": "string",
            "nullable": true,
            "description": "The customer's phone number"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "ISO 8601 datetime when the call started"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "ISO 8601 datetime when the call ended"
          },
          "duration": {
            "type": "number",
            "nullable": true,
            "description": "Call duration in seconds"
          },
          "status": {
            "type": "string",
            "enum": [
              "QUEUED",
              "IN_PROGRESS",
              "ENDED",
              "COMPLETED",
              "FAILED",
              "DNC",
              "REDIAL_SCHEDULED",
              "QUEUEING",
              "IN_WARM_TRANSFER"
            ],
            "nullable": true,
            "description": "Call status"
          },
          "recording_url": {
            "type": "string",
            "nullable": true,
            "description": "URL to access the call recording"
          },
          "ended_reason": {
            "type": "string",
            "nullable": true,
            "description": "Reason why the call ended"
          },
          "type": {
            "type": "string",
            "enum": [
              "inboundPhoneCall",
              "outboundPhoneCall",
              "dailyCall",
              "webCall",
              "messagingSession",
              "callAndMessaging"
            ],
            "nullable": true,
            "description": "Type of call"
          },
          "mode": {
            "type": "string",
            "enum": ["call", "messaging"],
            "nullable": true,
            "description": "Call mode"
          },
          "read": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the call has been read"
          },
          "c_sentiment": {
            "type": "string",
            "enum": ["Positive", "Negative", "Neutral", "Unsure"],
            "nullable": true,
            "description": "Customer sentiment analysis result"
          },
          "c_outcome": {
            "type": "string",
            "nullable": true,
            "description": "Call outcome classification"
          },
          "c_topic": {
            "type": "string",
            "description": "Topic identified during the call"
          },
          "ab_test_type": {
            "type": "string",
            "nullable": true,
            "description": "A/B test variant"
          },
          "ab_test_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the A/B test"
          },
          "ab_test_success": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the A/B test was successful"
          },
          "draft_agent_version": {
            "type": "string",
            "nullable": true,
            "description": "Version of draft agent used, if any"
          },
          "draft_agent_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of draft agent used, if any"
          },
          "workflow_path_history": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowAction"
            },
            "nullable": true,
            "description": "Array of workflow actions executed during the call"
          },
          "campaign_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the campaign associated with the call, if any"
          }
        }
      },
      "WorkflowAction": {
        "type": "object",
        "properties": {
          "actionId": {
            "type": "string",
            "description": "ID of the workflow action"
          },
          "workflowId": {
            "type": "string",
            "description": "ID of the workflow"
          },
          "readableName": {
            "type": "string",
            "description": "Human-readable name of the action"
          }
        }
      },
      "FirestoreTimestamp": {
        "type": "object",
        "required": ["_seconds", "_nanoseconds"],
        "properties": {
          "_seconds": {
            "type": "integer",
            "format": "int64"
          },
          "_nanoseconds": {
            "type": "integer"
          }
        },
        "description": "Serialized Firestore timestamp"
      },
      "TranscriptEntry": {
        "type": "object",
        "required": ["content", "role"],
        "properties": {
          "content": {
            "oneOf": [
              { "type": "string" },
              { "type": "object", "additionalProperties": true }
            ],
            "description": "Content of the transcript entry"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "interruption",
              "action",
              "workflow_triggered",
              "kb_retrieval",
              "state_transition",
              "control",
              "stored_variables",
              "tts_failover",
              "endpointing_result",
              "response_type"
            ],
            "description": "Message role"
          },
          "timestamp": {
            "type": "number"
          },
          "isPositive": {
            "type": "boolean"
          },
          "requestId": {
            "type": "string"
          },
          "response_issue_tags": {
            "type": "array",
            "items": { "type": "string" }
          },
          "user_instructions": {
            "type": "string"
          }
        }
      },
      "BlockListResponse": {
        "type": "object",
        "required": ["blockList"],
        "properties": {
          "blockList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of blocked phone numbers"
          }
        }
      },
      "BlockListRequest": {
        "type": "object",
        "required": ["uid", "agentId", "numbers"],
        "properties": {
          "uid": {
            "type": "string",
            "description": "User ID"
          },
          "agentId": {
            "type": "string",
            "description": "The ID of the agent"
          },
          "numbers": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            },
            "description": "Array of phone numbers to add or remove from the block list"
          }
        }
      },
      "BlockListUpdateResponse": {
        "type": "object",
        "required": ["message", "added", "failed"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Success message"
          },
          "added": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of phone numbers that were successfully added"
          },
          "failed": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BlockListFailure"
            },
            "description": "Array of numbers that failed to be added and the reason"
          }
        }
      },
      "BlockListDeleteResponse": {
        "type": "object",
        "required": ["message", "removed", "failed"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Success message"
          },
          "removed": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of phone numbers that were successfully removed"
          },
          "failed": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BlockListFailure"
            },
            "description": "Array of numbers that failed to be removed and the reason"
          }
        }
      },
      "BlockListFailure": {
        "type": "object",
        "required": ["number", "reason"],
        "properties": {
          "number": {
            "type": "string",
            "description": "The phone number that failed"
          },
          "reason": {
            "type": "string",
            "description": "Reason for failure"
          }
        }
      },
      "ImportNumberRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["uid", "agentId", "source", "twilioAccountSid", "twilioAuthToken", "phoneNumber", "countryCode"],
        "properties": {
          "uid": {
            "type": "string",
            "description": "User ID"
          },
          "agentId": {
            "type": "string",
            "description": "Agent ID (agent should not have a phone number assigned yet)"
          },
          "source": {
            "type": "string",
            "enum": ["twilio"],
            "description": "Phone number source (currently only supports 'twilio')"
          },
          "twilioAccountSid": {
            "type": "string",
            "description": "Twilio account SID"
          },
          "twilioAuthToken": {
            "type": "string",
            "description": "Twilio auth token"
          },
          "phoneNumber": {
            "type": "string",
            "pattern": "^\\+[1-9]\\d{1,14}$",
            "description": "Phone number to import, includes country code. i.e +10123456789"
          },
          "countryCode": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "description": "Country code of the phone number, ISO 3166-1 alpha-2 format"
          }
        }
      },
      "ImportNumberResponse": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Message indicating the result of the operation"
          }
        }
      },
      "Voice": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the voice"
          },
          "id": {
            "type": "string",
            "description": "Unique voice ID to use when updating an agent"
          },
          "gender": {
            "type": "string",
            "description": "Gender of the voice"
          },
          "language": {
            "type": "string",
            "description": "Language supported by the voice"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Feature tags associated with the voice"
          },
          "accent": {
            "type": "string",
            "description": "Accent of the voice"
          },
          "isMultiLingualSupport": {
            "type": "boolean",
            "description": "Whether the voice supports multiple languages"
          }
        }
      },
      "UpdateAgentRequest": {
        "type": "object",
        "required": ["uid", "agentId"],
        "properties": {
          "uid": {
            "type": "string",
            "description": "User ID"
          },
          "agentId": {
            "type": "string",
            "description": "Agent ID to update"
          },
          "orgId": {
            "type": "string",
            "description": "Organization ID to update"
          },
          "voiceId": {
            "type": "string",
            "description": "ID of the voice to assign to the agent"
          },
          "agentName": {
            "type": "string",
            "maxLength": 50,
            "description": "Name of the agent, limited to 50 characters"
          },
          "greetingMessage": {
            "type": "string",
            "maxLength": 500,
            "description": "Greeting message to be used when the agent is called, limited to 500 characters"
          },
          "humanizeConversation": {
            "type": "boolean",
            "description": "Set to true to add natural vocal fillers to the conversation"
          },
          "conversationStyle": {
            "type": "string",
            "enum": ["Casual", "Humorous", "Direct", "Formal", "Persuasive", "Friendly"],
            "description": "Conversation style"
          }
        }
      },
      "ReportCallErrorRequest": {
        "type": "object",
        "required": ["uid", "agentId", "callId", "email", "reason"],
        "properties": {
          "uid": {
            "type": "string",
            "description": "User ID"
          },
          "agentId": {
            "type": "string",
            "description": "ID of the agent involved in the call"
          },
          "callId": {
            "type": "string",
            "description": "ID of the call being reported"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address for feedback communication"
          },
          "reason": {
            "type": "string",
            "description": "Detailed explanation of the issue or feedback"
          }
        }
      },
      "Document": {
        "type": "object",
        "required": ["id", "agentId", "name", "active", "lastUpdatedBy", "lastUpdatedAt"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Document ID"
          },
          "agentId": {
            "type": "string",
            "description": "Associated agent ID"
          },
          "name": {
            "type": "string",
            "description": "Document name"
          },
          "active": {
            "type": "boolean",
            "description": "Document active status"
          },
          "fileUrl": {
            "type": "string",
            "description": "URL to access the document"
          },
          "content": {
            "type": "string",
            "description": "Extracted document content when stored with the record"
          },
          "contentMD": {
            "type": "string",
            "description": "Document content in Markdown when stored with the record"
          },
          "lastUpdatedBy": {
            "type": "string",
            "description": "Who last updated the document"
          },
          "lastUpdatedAt": {
            "oneOf": [
              { "type": "string", "format": "date-time" },
              { "$ref": "#/components/schemas/FirestoreTimestamp" }
            ],
            "description": "When the document was last updated"
          }
        }
      },
      "Website": {
        "type": "object",
        "required": ["id", "agentId", "name", "url", "active", "content", "contentMD", "lastUpdatedBy", "lastUpdatedAt"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Website ID"
          },
          "agentId": {
            "type": "string",
            "description": "Associated agent ID"
          },
          "name": {
            "type": "string",
            "description": "Website name or title"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Website URL"
          },
          "active": {
            "type": "boolean",
            "description": "Website active status"
          },
          "content": {
            "type": "string",
            "description": "Processed website content (JSON format)"
          },
          "contentMD": {
            "type": "string",
            "description": "Website content in Markdown format"
          },
          "lastUpdatedBy": {
            "type": "string",
            "description": "Who last updated the website"
          },
          "lastUpdatedAt": {
            "oneOf": [
              { "type": "string", "format": "date-time" },
              { "$ref": "#/components/schemas/FirestoreTimestamp" }
            ],
            "description": "When the website was last updated"
          }
        }
      },
      "CreateAgentGenerationRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["orgId", "agentName", "source"],
        "properties": {
          "orgId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "description": "Organization in which to create the agent"
          },
          "agentName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Name for the generated agent"
          },
          "timezone": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "example": "America/New_York",
            "description": "Valid IANA timezone. Defaults to UTC."
          },
          "source": {
            "$ref": "#/components/schemas/PromptAgentGenerationSource"
          }
        }
      },
      "PromptAgentGenerationSource": {
        "type": "object",
        "additionalProperties": false,
        "required": ["type", "prompt"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["prompt"]
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20000,
            "description": "Natural-language instructions for the agent and its first flow"
          }
        }
      },
      "AgentGenerationResponse": {
        "type": "object",
        "required": ["generationId", "status", "createdAt", "updatedAt"],
        "properties": {
          "generationId": {
            "type": "string",
            "pattern": "^gen_[a-f0-9]{40}$"
          },
          "status": {
            "type": "string",
            "enum": ["queued", "generating", "completed", "failed"]
          },
          "agentId": {
            "type": "string",
            "description": "Generated agent identifier. Present when status is completed."
          },
          "workflowId": {
            "type": "string",
            "description": "Generated first-flow identifier. Present when status is completed."
          },
          "error": {
            "$ref": "#/components/schemas/AgentGenerationFailure"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AgentGenerationFailure": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code or identifier"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Authorization"
      }
    }
  }
}
